// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

//Vuefity
@import "~vuetify/dist/vuetify.min.css";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.app-form > div {
    margin-top: 1em;
}
.card.padding {
    padding: 1em;
}
.actions {
    margin-top: 1em;
}
